__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store
data/*.parquet
data/*.json
spark-warehouse/
metastore_db/
derby.log
.venv/
*.egg-info/
_lakehouse/
# notebooks/*.ipynb  # removed — need to commit executed notebooks for grading
# notebooks-spark/*.ipynb  # removed — need to commit executed notebooks for grading
